* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;;
    background-color: #e2e8f0;
}

header {
    font-family: 'Blaka Ink', cursive;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 8px;
}

header #search{
    padding: 8px 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 8px;
}

header .searchbar{
    display: flex;
}

.content{
    /* background-color: gray; */
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    display: grid;
}

.card:hover{
    transform: translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.16) 5px 5px 5px 5px;
}

.card img {
    width: 100%;
    height: auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.headline, .details, .wrapper{
    padding: 8px;
}

.headline{
    font-weight: bold;
}

.details{ 
    font-size: 12px;
    color: gray;
}

.wrapper{
    display: flex;
    font-size: 12px;
    gap: 8px;
    margin-bottom: 5px;
}

footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 12px;
    color: gray;
}


